# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
node_modules
.pnpm-store
.pnp
.pnp.js

# testing
coverage

# astro
.astro/

# next.js
.next/
.swc/
out/
build

# expo
.expo
.expo-shared

# misc
.DS_Store
*.pem
dist

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env.local
.env.development.local
.env.test.local
.env.production.local
.devcontainer/.env

# turbo
.turbo
.vercel

# local env files
.env*
apps/native/.env*

# Archivos comprimidos y backups
*.7z
*.zip
*.rar
*.tar
*.tar.gz
*.tar.bz2
*.tar.xz
*.gz
*.bz2
*.xz
*.lzma
*.cab
*.iso
*.dmg
*.pkg

# Archivos temporales y de sistema
*.tmp
*.temp
*.swp
*.swo
*~
Thumbs.db
ehthumbs.db
Desktop.ini

# Logs y archivos de registro
*.log
logs/
log/

# Archivos de IDE y editores
.vscode/
.idea/
*.sublime-*
.atom/
.brackets.json

# Archivos de macOS
.AppleDouble
.LSOverride
Icon
._*

# Archivos de Windows
*.lnk
