<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBqhf1i2l20WoXpNJ64b170CJ5nLxSN9fY</string>
	<key>GCM_SENDER_ID</key>
	<string>599368058515</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>app.myapp.com</string>
	<key>PROJECT_ID</key>
	<string>myapp-7a439</string>
	<key>STORAGE_BUCKET</key>
	<string>myapp-7a439.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:599368058515:ios:128f7f102716571f402f66</string>
</dict>
</plist>